{% extends "base.html" %}
{% block content %}
<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Image(画像URLまたはファイルアップロードなどの選択)入力フィールド -->
        <input type="text" name="image" placeholder="Image Url">
        <!-- Text入力フィールド -->
        <textarea name="text" placeholder="text" rows="10"></textarea>
        <!-- 送信ボタン -->
        <button type="submit">SEND</button>
    </form>
  </div>
</div>
{% endblock content %}